@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

body, ul, h2, p, img {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    
}

li{
    list-style-type: none;
}

header{
    background-color: #3E53A3;
    height: 87px;
    position: absolute;
    top:0;
    z-index:1;
    width: 100%;
}

.wrapper{
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}
.video {
    position: fixed;
    top:0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
li{
    list-style-type: none;
}

.menu_logo{
    float: left;
    display: inline;
    cursor: pointer; line-height: 87px;
}

.menu_logo img{
    width: 77px;
    vertical-align: middle;
}

.menu_list{
    overflow: hidden;
     line-height: 87px;
}

.menu_list li{
    cursor: pointer;
    float: right;
    margin-left: 48px;
    color: white;
    font-weight: 100;
    font-size: 20px;
}

.menu_list li a {
    text-decoration: default;
}

.menu_list li a:hover{
    color: black;
    cursor: pointer;
}


.menu_list li a{
    color: white;
}
.main_text{
    margin-top: 150px;
    margin-left: 100px;
    float: left;
    color: white;
    animation: opa5 3s 1;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards
}
.main_text h1{
     font-size: 70px;
    font-weight: 200;
    line-height: 50px;
}

.main_title{
    font-size: 30px;
    font-weight: 100;
    line-height: 70px;
    margin-top: 120px;

}

.main1{
    animation: opa 2s 1;
    opacity: 0.7;
}
.main2{
    animation: opa2 2s 1;
    opacity: 0.5;
    animation-delay: 2s;
}
.main3{
    animation: opa3 2s 1;
    opacity: 0.3;
    animation-delay: 3s;
}
.main4{
    animation: opa4 2s 1;
    opacity: 0.2;
    animation-delay: 4s;
}


/*.main_img{
    position: absolute;
    bottom: 0;
    right: 250px;
    animation: mymove 3s 1;
}
*/

.up{
    position: absolute;
    top:30px;
    width: 1000px;
    height: 1000px;
    right: 90px;
    float: right;
    animation: upup 3s 1;

}
.up_down{
    position: absolute;
    bottom: 100px;
    width: 1000px;
    height: 1000px;
    right: 90px;
    float: right;
    animation: downdown 3s 1;
}

.shadow{
    position: absolute;
    bottom: 100px;
    width: 1000px;
    height: 1000px;
    right: 90px;
    float: right;
    opacity: 0.5;
    animation: sha 3s 1;
}


.overview{
    height: 800px;
    margin: 180px auto;
    display: block;
}

@keyframes upup {
  from {top: -400px;}
}
@keyframes downdown {
  from {bottom: -400px;}
}

@keyframes sha {
    from {
        bottom: -400px;
        opacity: 0;}
    to {opacity: 0.5;}
}

@keyframes mymove {
  from {bottom: -700px;}
  to {bottom: 0px;}
}


@keyframes opa {
  0%{opacity: 0.5;}
  50% {opacity: 1;}
  100% {opacity: 0.9;}  
}
@keyframes opa2 {
  0%{opacity: 0.2;}
  50% {opacity: 1;}
  100% {opacity: 0.5;}  
}
@keyframes opa3 {
  0%{opacity: 0.2;}
  50% {opacity: 1;}
  100% {opacity: 0.3;}  
}
@keyframes opa4 {
  50% {opacity: 1;}
  100% {opacity: 0.2;}  
}

@keyframes opa5 {
    0%{opacity: 0;}
    100%{opacity: 1;}
}