@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

body, ul, h2, p, img {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    
}

li{
    list-style-type: none;
}

header{
    background-color: rgba(247, 247, 247, 0);
    height: 87px;
    position: absolute;
    top:0;
    z-index:1;
    width: 100%;
}

.wrapper{
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}
.video {
    position: fixed;
    top:0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
li{
    list-style-type: none;
}

.menu_logo{
    float: left;
    display: inline;
    cursor: pointer; line-height: 87px;
}

.menu_logo img{
    width: 77px;
    vertical-align: middle;
}

.menu_list{
    overflow: hidden;
     line-height: 87px;
}

.menu_list li{
    cursor: pointer;
    float: right;
    margin-left: 48px;
    font-weight: 400;
    font-size: 20px;
}

.menu_list li a {
    text-decoration: default;
    color: #6a6a6a;
}


.menu_list li a:hover{
    color: #2e4abe;
    cursor: pointer;
}


.main_text{
    margin-top: 150px;
    margin-left: 100px;
    float: left;
    color: white;
    animation: opa5 3s 1;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards
}
.main_text h1{
     font-size: 70px;
    font-weight: 200;
    line-height: 50px;
}

.main_title{
    font-size: 30px;
    font-weight: 100;
    line-height: 70px;
    margin-top: 120px;

}


.ballon{
    width: 950px;
    margin: 0 auto;
    display: block;
}
.ux{
    width: 950px;
    margin: 0 auto;
    margin-top: 40px;
    display: block;
}

.img_group{
    position: relative;
}

.img_group2{
    position: relative;
    margin-top: 50px;
}

#sparkle{
    position: absolute;
    width: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 1.1s ease-in-out;
    -webkit-transition:all 1.1s ease-in-out;
}

.system{
    width: 860px;
    margin: 0 auto;
    display: block;
}

#coin{
    position: absolute;
    width: 600px;
    left: 20px;
    right: 0;
    margin: 0 auto;
    top: 210px;
    transition: all 1.1s ease-in-out;
    -webkit-transition:all 1.1s ease-in-out;
}

#myVideo{
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: rgba(255, 255, 255, 0); /* in case the video doesn't fit the whole page*/
  		background-image: /* our video */;
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
   		z-index:3;
    text-align: center;
	}
.intro{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f3f2f4;
}
.text {
    top: 150px;
    position: absolute;
    text-align: center;
    z-index: 4;
    color: #333333;
    left: 0;
    right: 0;
}
.text.v2{
    color: white;
}
.text h5{
    font-weight: 200;
    font-size: 13px;
    line-height: 0;
}
.text span{
    font-weight:900;
    font-size: 20px;
}

.slide{
    position: relative;
    
}
#mm{
    position: absolute;
    width: 1500px;
    height: 1500px;
    top: -900px;
    right: -350px;
    -webkit-transition:all 1.1s ease-in-out;
    transition:all 1.1s ease-in-out;
}
#ss{
    position: absolute;
    width: 1500px;
    height: 1500px;
    top: 500px;
    left: 350px;
    -webkit-transition:all 1.1s ease-in-out;
    transition:all 1.1s ease-in-out;
}
.slide2_text{
    position: absolute;
    top: 330px;
    color: #333333;
}

.slide2_text span{
    color: #666666;
    font-weight: 600;
}

.slide2_text h1{
    font-weight: 100;
    line-height: 25px;
    font-size: 50px;
}
.slide2_text h3{
    font-weight: 100;
    line-height: 35px;
    font-size: 20px;
}

.slide3_text {
    position: absolute;
    top: 330px;
    left: 200px;
    color: #333333; 
}
.slide3_text h1{
    color: #333333; 
    font-weight: 100;
    font-size: 50px;
    line-height: 35px
}
.slide3_text span{
    color: #666666;
    font-weight: 600;
}

.text_left h5{
    font-weight: 100;
    position: absolute;
    z-index: 9;
    top: 50%;
}
.text_right h5{
    font-weight: 100;
    position: absolute;
    z-index: 9;
    right: 300px;
    top: 50%;
}

#myVideo2{
		position: absolute;
		width:80%;
        height: 100vh;
        left: 0;
        right: 0;
        margin: 0 auto;
 		background-color: #f0f0f0; /* in case the video doesn't fit the whole page*/
  		background-image: /* our video */;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
   		z-index:3;
    text-align: center;
	}

#slide3{
    position: relative;
}
#slidevideo{
    position: absolute;
    width: 30%;
    bottom: 80px;
    left: 400px;
}

#mina{
    position: absolute;
    width: 700px;
    right: 100px;
}

#slide_img{
    position: absolute;
    top: 500px;
    right: 100px;
    width: 400px;
    height: 1500px;
    -webkit-transition:all 1.1s ease-in-out;
    transition:all 1.1s ease-in-out;
}
#slide_img2{
    position: absolute;
    top: -900px;
    right: 600px;
    width: 400px;
    height: 1500px;
    -webkit-transition:all 1.1s ease-in-out;
    transition:all 1.1s ease-in-out;
}
.s3 .fp-controlArrow.fp-prev{
    opacity:0;
}
.s3 .fp-controlArrow.fp-next{
    opacity: 0;
}
.white{
    position: absolute;
    top:47vh;
    left: 60px;
    width: 20px;
}
.white:hover{
         cursor: pointer;
}
.white2{
    position: absolute;
    top:47vh;
    right: 60px;
    width: 20px;
    transform: rotate(180deg);
}


#bucket1{
    position: absolute;
    width: 1200px;
    left: 150px;
    bottom:-260px;
    transition: all 1.1s ease-in-out;
    -webkit-transition: all 1.1s ease-in-out;
}
#bucket2{
    width: 1200px;
    position: absolute;
    right: 150px;
    bottom:-260px;
    -webkit-transition: all 1.1s ease-in-out;
    transition: all 1.1s ease-in-out;
}

.bucket_m{
    width: 1200px;
    position: absolute;
    top:-150px;
    right: 150px;
         opacity: 0.5;
    -webkit-transition: all 1.1s ease-in-out;
    transition: all 1.1s ease-in-out;

}
.text p{
    color: white;
    font-size: 20px;
    font-weight: 100;
}

.slide4_text{
    position: absolute;
    top: 330px;
    color: #ffffff;
}

.slide4_text span{
    color: #ffffff;
    font-weight: 600;
}

.slide4_text h1{
    font-weight: 100;
    line-height: 25px;
    font-size: 50px;
}
.slide4_text h3{
    font-weight: 100;
    line-height: 35px;
    font-size: 20px;
}

.slid5_text{
    position: absolute;
    top: 330px;
    color: #333333;
}

.slide5_text span{
    color: #666666;
    font-weight: 600;
}

.slide5_text h1{
    font-weight: 100;
    line-height: 25px;
    font-size: 50px;
}
.slide5_text h3{
    font-weight: 100;
    line-height: 35px;
    font-size: 20px;
}


.s3 .text span{
    color: white;
}
.s3 .text h5{
    color: white;
    font-size: 40px;
}
.s3 #sparkle{
    top:160px;

}
.fp-viewing-second #sparkle{
    width: 1300px;
}

.fp-viewing-5thPage-1 #mm{
    top:-500px;
}
.fp-viewing-5thPage-1 #ss{
    top:0px;
}

.fp-viewing-5thPage-2 #slide_img{
    top: 100px;
}
.fp-viewing-5thPage-2 #slide_img2{
    top: -700px;
}
.fp-viewing-second #coin{
    top: 110px;
}

.fp-viewing-6thPage-0 #bucket1{
    bottom: -160px;
}
.fp-viewing-6thPage-0 #bucket2{
    bottom: -160px;
}
.fp-viewing-6thPage-1 .bucket_m{
   opacity: 1;
}
.fp-viewing-6thPage-0 #sparkle{
   width: 1300px;
}